
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar_content">
            <div class="profile-section">
                <i class="fa-solid fa-circle-user"></i>
                <p class="sign_in_text">Hello, Sign in</p>
            </div>
            <div class="content-section">
                <h3>Trending</h3>
                <p>Bestseller</p>
                {% for item in data %}
                <h3>{{item.title}}</h3>
                {% for i in item.items %}
                <p>{{i.name}}</p>
                {% endfor %}
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="cross_bar">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</body>
</html>